@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}









/*  listings section  */
.listings{
  padding: 100px 0;
}

.listings ul.properties_list{
  list-style: none;
  overflow: hidden;
}

.listings ul.properties_list li{
  display: block;
  width: 340px;
  height: auto;
  position: relative;
  float: left;
  margin: 0 40px 40px 0;
}

.listings ul.properties_list li img.property_img{
  width: 100%;
  height: auto!important;
  vertical-align: top;
}


.listings ul.properties_list li .price{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px 20px;
  background: #ffffff;
  color: #514d4d;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}


.listings ul.properties_list li:nth-child(3n+0){
  margin-right: 0;
}

.listings ul li .property_details{
  width: 298px;
  padding: 10px 20px 14px 20px;
  border-bottom: 1px solid #f2f1f1;
  border-left: 1px solid #f2f1f1;
  border-right: 1px solid #f2f1f1;

  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.listings ul li:hover .property_details{
  border-bottom: 1px solid #95badf;
  border-left: 1px solid #95badf;
  border-right: 1px solid #95badf;
}

.listings ul li .property_details h1{
  color: #666464;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-size: 16px!important;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 28px;
}

.listings ul li .property_details h1 a{
  text-decoration: none;
  color: #666464;
}

.listings ul li .property_details h2{
  color: #9d9d9d;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 26px;
}

.listings ul li .property_details .property_size{
  color: #676767;
}

.listings .more_listing{
  display: block;
  width: 100%;
  text-align: center;
  margin: 84px 0 22px 0;
}

.listings .more_listing_btn{
  text-decoration: none;
  padding: 20px 40px;
  border: 2px solid #bfd9f1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  color: #afcbe6;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
  color: #a0c3e5;
  border: 2px solid #a0c3e5;
}






/*  listings  responsivesection  */
.listings{
  padding: 100px 0;
}

.listings ul.properties_list{
  list-style: none;
  overflow: hidden;
}

.listings ul.properties_list li{
  display: block;
  width: 30.90909090909091%;
  height: auto;
  position: relative;
  float: left;
  margin: 0 3.636363636363636% 3.636363636363636% 0;
}

.listings ul.properties_list li img.property_img{
  width: 100%;
  height: auto!important;
  vertical-align: top;
}


.listings ul.properties_list li .price{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px 20px;
  background: #ffffff;
  color: #514d4d;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}


.listings ul.properties_list li:nth-child(3n+0){
  margin-right: 0;
}

.listings ul li .property_details{
  width: 87.64705882352941%;
  padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
  border-bottom: 1px solid #f2f1f1;
  border-left: 1px solid #f2f1f1;
  border-right: 1px solid #f2f1f1;

  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.listings ul li:hover .property_details{
  border-bottom: 1px solid #95badf;
  border-left: 1px solid #95badf;
  border-right: 1px solid #95badf;
}

.listings ul li .property_details h1{
  color: #666464;
  font-family: "lato-bold", Helvetica, Arial, sans-serif;
  font-size: 16px!important;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 28px;
}

.listings ul li .property_details h1 a{
  text-decoration: none;
  color: #666464;
}

.listings ul li .property_details h2{
  color: #9d9d9d;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: normal;
}

.listings ul li .property_details .property_size{
  color: #676767;
}

.listings .more_listing{
  display: block;
  width: 100%;
  text-align: center;
  margin: 84px 0 22px 0;
}

.listings .more_listing_btn{
  text-decoration: none;
  padding: 20px 40px;
  border: 2px solid #bfd9f1;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  color: #afcbe6;
  font-family: "lato-regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
  color: #a0c3e5;
  border: 2px solid #a0c3e5;
}