.btn-primary {
  color: #212529;
  background-color: #ffba5a;
  border-color: #ffba5a;
}

.heading{
  font-size: 60px;
  font-family: "Playfair Display", times, serif;
  font-weight: 700;
}
.txt{
  font-family: "Roboto", arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}
a{
  color: #ffba5a;
  text-decoration: none;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  background-color: transparent;
}