<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        {% endblock %}


    </head>




    <body>
    <!-- header -->
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Suites</a></li>
        </ul>
    </nav>




        {% block body %}{% endblock %}
    </body>

    {% block javascripts %}

    {% endblock %}
</html>
